body{
    color: rgb(138, 6, 8);
}
.head{
    color: red;
}
.y_bg{
    background-color: yellow;
}
.it{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
ol li{
    margin: 1.8rem 0rem;
}
.li_space{
    letter-spacing: 7.2px;
}
p{
    margin: 1.8rem 0rem;
}
a{
    text-decoration: none;
    color: red;
}
#cross{
    text-decoration: line-through;
}